node_modules/
.pnpm-store/

.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

ios/
android/

.env
.env.local
.env.*.local

*.tsbuildinfo

npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*
*.log

.DS_Store
*.pem

.vscode/
.idea/
*.swp

coverage/

.metro-health-check*
*.orig.*

*.tgz
.yarn/